.befaft div::before {
    content: "1111";
position: absolute;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #3d7ec0 transparent #3d7ec0 transparent;
  -webkit-animation: lds-double-ring 1.5s linear infinite;
  animation: lds-double-ring 1.5s linear infinite;
}
.befaft div::after {
    content: "22222";
    width: 140px;
  height: 140px;
  top: 30px;
  left: 30px;
  border-color: transparent #cc4545 transparent #cc4545;
  -webkit-animation: lds-double-ring_reverse 1.5s linear infinite;
  animation: lds-double-ring_reverse 1.5s linear infinite;
}